@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

:root {
    --font-default-regular: "Roboto Regular";
    --font-default-bold: "Roboto Bold";
    --font-size-default: 18px;
    --font-size-main: 22px;
    --font-size-heading: 36px;

    --font-color-default: black;
    --font-color-main: #212529;

    --color-background-main: #EBEAE9;
    --color-background-footer: #AFAFAF;
    --color-background-input: white;
    --color-border-input: #CCCCCC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-default-regular);
    font-size: var(--font-size-default);
    background-color: var(--color-background-main);
    color: var(--font-color-default);
}

main {
    font-size: var(--font-size-main);
    color: var(--font-color-main);
}

h2 {
    font-family: var(--font-default-bold);
    font-size: var(--font-size-heading);
}

footer {
    background-color: var(--color-background-footer);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input, textarea {
    display: block;
    border: var(--color-border-input) 1px solid;
    border-radius: 4px;
}